<body style="margin:0">
<script>
  var v = window.location.hash.slice(1)
  var frame = document.createElement('iframe')

  frame.setAttribute('width', '640')
  frame.setAttribute('height', '360')
  frame.setAttribute('frameborder', '0')
  frame.setAttribute('src', 'https://www.youtube.com/embed/' + v)
  frame.setAttribute('allowfullscreen', 'true')

  document.body.appendChild(frame)
</script>
</body>
